/*This is the css file that consists of the styling code*/

/*First we give default values to the body*/
body{
  padding:0px;
  margin:0px;
  font:14px century gothic;
}
/*ALl headers with the following tags have the same properties*/
h3, h2{
  padding:1%;
  color:white;
}
/*Menu logout code*/
.menu input{
  float:right;
  width:10%;
  background-color:transparent;
  color:white;
}
/*Menu list code*/
.menu li{
  list-style:none;
}
/*Menu code links*/
.menu a{
  text-decoration:none;
  color:#0bc28c;
}
/*Link code on hover*/
.menu a:hover{
  color:white;
}
/*All the div tags with the classes container will get these properties*/
.container{
  padding:5%;
  background-color:#0bc28c;
  height:100vh;
  text-align: center;
}
/*The form properties*/
/*The input styling*/
input{
  background-color:transparent;
  border-radius:4px;
  border:2px solid white;
  margin:1%;
  width:20%;
  color:white;
  padding:1%;
}
/*Placeholder text color*/
/*Placeholders complatible with different sites*/
::-webkit-input-placeholder {
   color: #d3d3d3;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d3d3d3;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d3d3d3;
}

:-ms-input-placeholder {
   color: #d3d3d3;
}
/*The input styling mostly for submit buttons*/
.button{
  background-color:white;
  cursor:pointer;
  color:black;
}
/*This is the errors' properties*/
.err{
  background-color:rgba(255, 0, 0, .8);
  color:white;
  border-radius:5px;
  width:30%;
  margin: auto;
  padding:1%;
}
/*Success style properties*/
.success{
  background-color:white;
  color:#0bc28c;
  border-radius:5px;
  width:30%;
  margin: auto;
  padding:1%;
}
/*login form properties*/
/*Link style*/
.container a{
  color:white;
  text-decoration: none;
}
/*link style on hover*/
.container a:hover{
  text-decoration: underline;
}
/*Event page background styling*/
.events{
  background:url(concerts.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height:100%;
  color:white;
}
/*Styling for division that holds the event details in place*/
.event{
  text-align: center;
  padding:2%;
  border:5px dashed #ffffff;
  margin:3%;
}
/*The event header must be capitalized*/
.event h1{
  text-transform: capitalize;
}
/*Event button that submits to the ticket page*/
.event button{
  background-color:#0bc28c;
  border:2px solid #0bc28c;
  padding-top:1%;
  padding-bottom:1%;
  padding-left:5%;
  padding-right:5%;
  border-radius:3px;
  cursor:pointer;
  color:white;
}
